$tabler-blue: #467fcf;
$tabler-blue-darkest: #0e1929;
$tabler-blue-darker: #1c3353;
$tabler-blue-dark: #3866a6;
$tabler-blue-light: #7ea5dd;
$tabler-blue-lighter: #c8d9f1;
$tabler-blue-lightest: #edf2fa;
$tabler-azure: #45aaf2;
$tabler-azure-darkest: #0e2230;
$tabler-azure-darker: #1c4461;
$tabler-azure-dark: #3788c2;
$tabler-azure-light: #7dc4f6;
$tabler-azure-lighter: #c7e6fb;
$tabler-azure-lightest: #ecf7fe;
$tabler-indigo: #6574cd;
$tabler-indigo-darkest: #141729;
$tabler-indigo-darker: #282e52;
$tabler-indigo-dark: #515da4;
$tabler-indigo-light: #939edc;
$tabler-indigo-lighter: #d1d5f0;
$tabler-indigo-lightest: #f0f1fa;
$tabler-purple: #a55eea;
$tabler-purple-darkest: #21132f;
$tabler-purple-darker: #42265e;
$tabler-purple-dark: #844bbb;
$tabler-purple-light: #c08ef0;
$tabler-purple-lighter: #e4cff9;
$tabler-purple-lightest: #f6effd;
$tabler-pink: #f66d9b;
$tabler-pink-darkest: #31161f;
$tabler-pink-darker: #622c3e;
$tabler-pink-dark: #c5577c;
$tabler-pink-light: #f999b9;
$tabler-pink-lighter: #fcd3e1;
$tabler-pink-lightest: #fef0f5;
$tabler-red: #e74c3c;
$tabler-red-darkest: #2e0f0c;
$tabler-red-darker: #5c1e18;
$tabler-red-dark: #b93d30;
$tabler-red-light: #ee8277;
$tabler-red-lighter: #f8c9c5;
$tabler-red-lightest: #fdedec;
$tabler-orange: #fd9644;
$tabler-orange-darkest: #331e0e;
$tabler-orange-darker: #653c1b;
$tabler-orange-dark: #ca7836;
$tabler-orange-light: #feb67c;
$tabler-orange-lighter: #fee0c7;
$tabler-orange-lightest: #fff5ec;
$tabler-yellow: #f1c40f;
$tabler-yellow-darkest: #302703;
$tabler-yellow-darker: #604e06;
$tabler-yellow-dark: #c19d0c;
$tabler-yellow-light: #f5d657;
$tabler-yellow-lighter: #fbedb7;
$tabler-yellow-lightest: #fef9e7;
$tabler-lime: #7bd235;
$tabler-lime-darkest: #192a0b;
$tabler-lime-darker: #315415;
$tabler-lime-dark: #62a82a;
$tabler-lime-light: #a3e072;
$tabler-lime-lighter: #d7f2c2;
$tabler-lime-lightest: #f2fbeb;
$tabler-green: #5eba00;
$tabler-green-darkest: #132500;
$tabler-green-darker: #264a00;
$tabler-green-dark: #4b9500;
$tabler-green-light: #8ecf4d;
$tabler-green-lighter: #cfeab3;
$tabler-green-lightest: #eff8e6;
$tabler-teal: #2bcbba;
$tabler-teal-darkest: #092925;
$tabler-teal-darker: #11514a;
$tabler-teal-dark: #22a295;
$tabler-teal-light: #6bdbcf;
$tabler-teal-lighter: #bfefea;
$tabler-teal-lightest: #eafaf8;
$tabler-cyan: #17a2b8;
$tabler-cyan-darkest: #052025;
$tabler-cyan-darker: #09414a;
$tabler-cyan-dark: #128293;
$tabler-cyan-light: #5dbecd;
$tabler-cyan-lighter: #b9e3ea;
$tabler-cyan-lightest: #e8f6f8;
$tabler-gray: #868e96;
$tabler-gray-darkest: #1b1c1e;
$tabler-gray-darker: #36393c;
$tabler-gray-dark: #6b7278;
$tabler-gray-light: #aab0b6;
$tabler-gray-lighter: #dbdde0;
$tabler-gray-lightest: #f3f4f5;
$tabler-gray-dark: #343a40;
$tabler-gray-dark-darkest: #0a0c0d;
$tabler-gray-dark-darker: #15171a;
$tabler-gray-dark-dark: #2a2e33;
$tabler-gray-dark-light: #717579;
$tabler-gray-dark-lighter: #c2c4c6;
$tabler-gray-dark-lightest: #ebebec;
